{
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true
        },
        "allowImportExportEverywhere": false
    },

    "extends": [
        "standard"
    ],

    "rules": {
        "semi": [2, "always"],
        "no-empty": 2,
        "array-callback-return": 2,
        "indent": [2, 4, { "SwitchCase": 1 }],
        "space-before-function-paren": [2, "never"],
        "no-debugger": 0
    }
}
