/* Site Header
 * ============================================== */
    .site-header {
        min-height: 100px;
        background-color: $brand-color;
        background-image: url('');
        background-size: cover;
        background-position: center -170px;
        background-attachment: fixed;

        @include media-query($on-palm) {
            background-position: center -250px;
        }
    }

    .site-header a, a h1:hover {color: #FFF};

    .site-header h1 {
        display: block;
        font-size: 40px !important;
        line-height: 40px;
        letter-spacing: 3px;
        text-align: center;
        padding-top: 20px;
        clear: both;
        text-transform: uppercase;
        font-family: 'Open Sans';

        @include media-query($on-palm) {
            font-size:60px !important;
            letter-spacing: 0px;
        }
    }

    .site-header span {
        border: 10px solid #FFF;
        padding: 0.3em 0.5em;
        margin: 0 20px 20px;
        display: inline-block;

        @include media-query($on-palm) {
            margin: 10px 10px;
            padding: 0.15em 0.4em;
        }
    }

    .site-nav {
        float: right;
        line-height: 56px;
        margin-right: 25px;

        .page-link {
            line-height: $base-line-height;
            font-weight: bold;
            letter-spacing: 0.05em;

            &:not(:first-child) {
                margin-left: 20px;
            }
        }

        .page-link:hover {
            opacity: 0.8;
        }

        @include media-query($on-palm) {
            padding-bottom: 10px;
        }
    }

/* Site Footer
 * ============================================== */
    .footer {
        padding-bottom: 3em;
        margin: auto;
        font-size: 12px;
        font-family: Open Sans;
        color: #959595;
    }

/* Individual Posts
 * ============================================== */
    .page-content {
        padding: $spacing-unit 0;
        text-align: justify;
    }

    .page-heading {
        font-size: 20px;
        padding-top: 2px;
        color: $brand-color;
    }

/* Archive
 * ============================================== */
    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            display: block;
            padding: 0.1em 1.5em;
        }

    }

    .post-link {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: -1px;
        color: #454545;
        display: block;
        width: 100%;

        @include media-query($on-palm) {
            font-size: 1.33em;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color-light;
        text-transform: uppercase;
        display: inline-block;
    }

/* Post Format
 * ============================================== */
    .post-header {
        margin-bottom: $spacing-unit;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;
    }

/* gren
 * ============================================== */
    .full {
        display: table;
        table-layout: fixed;
        width: 100%
    }

    .full td:first-child {
        width: 100px;
    }
